.food-displ {
    margin-top: 20px;
}

@keyframes FadeIn {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.food-display h1{
    font-size: 34px;
}

.food-display-li{
    margin-top: -10px;
    animation: FadeIn 1s;
}

.food-display-list{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
    gap: 20px;
    min-width: 640px;
    row-gap: 20px;
    animation: FadeIn 1s;
}

@media (max-width: 576px) {
    .food-displ h1{
        font-size: 38px;
        width: 100%;
    }
}