.order-container {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.order-items {
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.order-item-title {
  margin-left: 4vw;
  font-weight: 700;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  color: rgb(117, 95, 95);
  align-items: center;
  gap: 10px;
}

.order-item-image {
  max-width: 60px;
  border-radius: 4px;
}

.order-item-list {
  align-items: center;
  font-weight: 400;
  margin-top: 7px;
  margin-left: 25px;
  font-size: 14px;
  color: black;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr 1fr;
  gap: 10px;
}

.h-line {
  border: 0.1px solid rgba(236, 195, 195, 0.247);
  margin: 5px auto;
  width: 90%;
}

.feedback-button {
  margin-top: 7px;
  background-color: rgb(151, 69, 69);
  color: white;
  border-radius: 3px;
  padding: 4px 10px;
  border: none;
  cursor: pointer;
  font-size: 14px;
}

.feedback-button:hover {
  background-color: rgb(153, 80, 80);
}

@media (max-width: 576px) {
  .order-item-title {
    width: 40%;
    grid-template-columns: 2.5fr 1.5fr 1.4fr 1fr 1fr;
    gap: 10px;
  }

  .order-item-list {
    width: 40%;
    grid-template-columns: 2fr 1fr 1.3fr 1fr 1fr;
    gap: 10px;
  }
}