.explore-menu-list{
    margin-top: 16px;
    min-width: 240px;
    box-shadow: 0px 0px 6px rgb(216, 200, 200);
    padding: 8px 20px;
    border-radius: 15px;
    display: flex;
    gap: 20px;
    background-color: rgb(142, 199, 56);
    text-align: center;
    overflow: scroll;
}

.explore-menu-content h1{
    font-size: 34px;
}

.explore-menu-content p{
    color: black;
}

.explore-menu-list::-webkit-scrollbar{
    display: none;
}

.explore-menu-list img{
    background-size: cover;
    height: 84px;
    min-width: 80px;
    width: 100%;
    cursor: pointer;
    border-radius: 50%;
    border: 5px solid white;
}

.menu-explore p{
    color: white;
    font-size: 14px;
    font-weight: 500;
}

.menu-explore .active{
    border: 5px solid rgb(224, 228, 12);
}

@media (max-width: 576px) {
    .explore-menu-list{
        width: 50%;
        margin-top: 16px;
        min-width: 240px;
        box-shadow: 0px 0px 6px rgb(216, 200, 200);
        padding: 8px 20px;
        border-radius: 15px;
        display: flex;
        gap: 20px;
        background-color: rgb(142, 199, 56);
        text-align: center;
        overflow: scroll;
    }
    
    .explore-menu-content h1{
        font-size: 38px;
        width: 100%;
    }
    
    .explore-menu-content p{
        color: black;
        font-size: 18px;
        width: 100%;
    }
    
    .explore-menu-list img{
        height: 104px;
        min-width: 100px;
        width: 100%;
        border: 6px solid white;
    }
    
    .menu-explore p{
        color: white;
        font-size: 16px;
        font-weight: 500;
    }
}